---
import { Image } from 'astro:assets'
import GameContainer from '../components/GameContainer'
import Scene from '../components/Scene'
import InteractiveItem from '../components/InteractiveItem'
import InventoryPanel from '../components/InventoryPanel'
import DialogueBox from '../components/DialogueBox'
import MapView from '../components/MapView'

import backgroundImage from '../assets/backgrounds/kitchen.jpeg'
import keyItem from '../assets/collectables/key.png'
import bookItem from '../assets/collectables/book.png'
import coinItem from '../assets/collectables/coin.png'

const interactiveItems = [
	{ id: '1', name: 'Key', image: keyItem.src, x: 100, y: 200 },
	{ id: '2', name: 'Book', image: bookItem.src, x: 300, y: 400 },
]

const inventoryItems = [{ id: '3', name: 'Coin', image: coinItem.src }]
const dialogueText =
	'Welcome to our point-and-click adventure game! Welcome to our point-and-click adventure game! Welcome to our point-and-click adventure game! Welcome to our point-and-click adventure game!'

const locations = [
	{ id: 'home', name: 'Home', x: 20, y: 30, isUnlocked: true },
	{ id: 'town', name: 'Town', x: 50, y: 50, isUnlocked: true },
	{ id: 'forest', name: 'Forest', x: 80, y: 70, isUnlocked: false },
]
const currentLocation = 'home'
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<title>Grandpas Secret</title>
	</head>
	<body>
		<GameContainer client:load>
			<Scene client:load>
				<Image
					src={backgroundImage}
					alt='Kitchen Background'
					width={1920}
					height={1080}
					class='w-full h-full object-cover absolute top-0 left-0 z-0'
				/>
				<div class='relative z-10'>
					{
						interactiveItems.map((item) => (
							<InteractiveItem
								id={item.id}
								name={item.name}
								image={item.image}
								x={item.x}
								y={item.y}
								onClick={(id) =>
									console.log(`Clicked item ${id}`)
								}
								client:load
							/>
						))
					}
				</div>

				<MapView
					locations={locations}
					currentLocation={currentLocation}
					onLocationSelect={(locationId) =>
						console.log(`Selected location: ${locationId}`)}
					client:load
				/>
				<InventoryPanel
					items={inventoryItems}
					onItemClick={(id) =>
						console.log(`Used inventory item ${id}`)}
					client:load
				/>
				<DialogueBox
					text={dialogueText}
					speaker='Narrator'
					onComplete={() => console.log('Dialogue complete')}
					client:load
				/>
			</Scene>
		</GameContainer>
	</body>
</html>
